# Dependências
/node_modules

# Arquivos de Build
/build

# Arquivos Gerados pelo Docusaurus
/.docusaurus
.cache-loader

# Variáveis de Ambiente
.env
.local

# Logs
npm-debug.log*
yarn-error.log

# Outros (Sistemas Operacionais)
.DS_Store