.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.integrantesImg {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
}
