.border {
  border: 1px solid var(--color-text-muted);
  background-color: var(--color-background);
  border-radius: 50%; //pi
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.border:hover {
  background-color: var(--color-text-muted);
}

.icon {
  filter: brightness(0) saturate(100%) invert(63%) sepia(6%) saturate(283%) hue-rotate(202deg)
    brightness(101%) contrast(89%);
  height: 1.3vw;
}
.icon-light {
  filter: brightness(0) saturate(100%) invert(47%) sepia(5%) saturate(2002%) hue-rotate(176deg)
    brightness(92%) contrast(88%);
  height: 1.3vw;
}
